        .my-text {
            color: white
        }
        #haeder{
        
        }
        #main{
         background:red;
         height: 130;
         whidth: 30%
        }
        #fooder{
          background:pink;
        height: 100%;
          whidth: 60%;        
        }
        